<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DB" value="Data Source=.\SQLEXPRESS;Initial Catalog=NUCE_Khao_sat_sinh_vien_truoc_tot_nghiep;User ID=sa;Password=1234567"/>
    <add key="DB1" value="Data Source=.\SQLEXPRESS;Initial Catalog=Nuce_KS_DiemThi;User ID=sa;Password=1234567"/>
    <add key="DBS" value="Data Source=210.245.107.73,1444;Initial Catalog=NUCE_SURVEY_BAOCAO_KI_II_2018;User ID=survey;Password=survey@123"/>
    <add key="DBD" value="Data Source=210.245.107.73,1444;Initial Catalog=Nuce_KS_Analytics;User ID=survey;Password=survey@123"/>

    <add key="DB_k1_16_17" value="Data Source=210.245.107.73,1444;Initial Catalog=NUCE_SURVEY_BAOCAO_KI_I_2017;User ID=survey;Password=survey@123"/>
    <add key="DB_k2_16_17" value="Data Source=210.245.107.73,1444;Initial Catalog=NUCE_SURVEY_BAOCAO_KI_II_2017;User ID=survey;Password=survey@123"/>
    <add key="DB_k1_17_18" value="Data Source=210.245.107.73,1444;Initial Catalog=NUCE_SURVEY_BAOCAO_KI_I_2018;User ID=survey;Password=survey@123"/>
    <add key="DB_k2_17_18" value="Data Source=210.245.107.73,1444;Initial Catalog=NUCE_SURVEY_BAOCAO_KI_II_2018;User ID=survey;Password=survey@123"/>
    
    <add key="DBLocal" value="Data Source=.\EXPRESS2014;Initial Catalog=stttt;User ID=sa;Password=1234567"/>
    <add key="DBLocal1" value="Data Source=.\SQLEXPRESS;Initial Catalog=NUCE_SURVEY_BAOCAO_KI_II_2020;User ID=sa;Password=1234567"/>
  </appSettings>
</configuration>