<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AppConnectDaoTao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DB1" value="Data Source=.\SQLEXPRESS;Initial Catalog=NUCE_Khao_sat_sinh_vien_truoc_tot_nghiep;User ID=sa;Password=1234567"/>
    <add key="DB" value="Data Source=.\SQLEXPRESS;Initial Catalog=lichphongmay_kI_II_2018;User ID=sa;Password=1234567"/>
   <add key="NUCESURVEY" value="Data Source=.\SQLEXPRESS;Initial Catalog=NUCE_SURVEY_BAOCAO_KI_I_2020;User ID=sa;Password=1234567"/>
    <add key="NUCEDANHGIAGIANGVIEN" value="Data Source=.\SQLEXPRESS;Initial Catalog=CTSVNUCE;User ID=sa;Password=1234567"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <AppConnectDaoTao.Properties.Settings>
      <setting name="AppConnectDaoTao_vn_edu_nuce_ktmt_Service" serializeAs="String">
        <value>http://www.apinuce.tk/service.asmx</value>
        <!--<value>http://localhost:8003/service.asmx</value>-->
      </setting>
    </AppConnectDaoTao.Properties.Settings>
  </applicationSettings>
</configuration>